<div class="example-container">
  <h2>To do</h2>
  Hold ctrl + click an item to multi select
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="example-box"
      *ngFor="let item of todo"
      cdkDrag

      (click)="onKeyDown($event, item, todo)"
      [ngClass]="{'selected':item.selected}"
    >
      {{item.name}} hakan
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="example-box"
      *ngFor="let item of done"
      cdkDrag
      (click)="onKeyDown($event, item, done)"
      [ngClass]="{'selected':item.selected}"
    >
      {{item.name}}
    </div>
  </div>
</div>

<hr>
<pre>{{stored | json}}</pre>
<hr>
<pre>{{todo | json }}</pre>
<hr>
<pre>{{done | json }}</pre>

